/* FONT FAMILIES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

/* BASE FOLDER (Are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.) */
@import "BASE/reset.css";

/* LAYOUT FOLDER (Divide the page into sections. Layouts hold one or more modules together.) */

/* MODULE FOLDER (Are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.) */
@import "MODULE/card.css";

/* THEME FOLDER (Describe how modules or layouts might look) */

