/**
 * MODULE - CARDS
 */

.board{
  display: grid;
  grid-template-areas: 'auto auto auto auto';
}

.card{
  width: 100%;
  max-width: 100px;
  background-color: #E6E6E6;
}

.card__img{
  width: 100%;
  max-width: 100px;
}